---
import Section from "@/components/Section.astro";
import { getI18n } from "@/i18n";
import { getCv } from "@cv";

const { currentLocale } = Astro;
const { work } = getCv(currentLocale);

const i18n = getI18n(currentLocale);
---

<Section title={i18n.TITLE_EXPERIENCE}>
  <ul class="flex flex-col gap-5">
    {
      work.map(
        ({ name, startDate, endDate, url, position, summary, highlights }) => {
          const startYear = new Date(startDate).getUTCFullYear();
          const endYear = endDate
            ? new Date(endDate).getUTCFullYear()
            : i18n.CURRENT;

          return (
            <li>
              <article class="flex flex-col gap-1">
                <header class="flex items-start justify-between">
                  <div class="flex items-start justify-start gap-2">
                    <h3 class="font-semibold">
                      {url ? (
                        <a
                          href={url}
                          target="_blank"
                          class="hover:underline"
                          title={`${i18n.VISIT_WEBSITE} ${name}`}
                        >
                          {name}
                        </a>
                      ) : (
                        name
                      )}
                    </h3>
                    <div class="flex flex-wrap items-start gap-1">
                      {highlights.map((highlight) => (
                        <span class="rounded-md bg-gray-100 px-2 py-1 text-xs font-semibold text-gray-950 transition-all hover:bg-gray-50 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-900">
                          {highlight}
                        </span>
                      ))}
                    </div>
                  </div>
                  <time class="whitespace-nowrap">
                    {startYear} - {endYear}
                  </time>
                </header>
                <p class="text-gray-950 dark:text-gray-200">{position}</p>
                <p class="text-xs">{summary}</p>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
