---
import { basics } from "@cv";

import EmailIcon from "@/icons/EmailIcon.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedinIcon from "@/icons/LinkedinIcon.astro";
import PhoneIcon from "@/icons/PhoneIcon.astro";
import Section from "@/components/Section.astro";
import WorldIcon from "@/icons/WorldIcon.astro";
import XIcon from "@/icons/XIcon.astro";
import SocialButton from "@/components/SocialButton.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub: GithubIcon,
  Linkedin: LinkedinIcon,
  X: XIcon,
};

const linkedinUser = profiles.find((x) => x.network == "Linkedin")?.username;
---

<Section>
  <div class="flex flex-row justify-between items-center gap-4">
    <div>
      <h1 class="text-2xl font-bold">{name}</h1>
      <p class="mt-2 mb-2">
        {label}
      </p>
      <a
        href="https://www.google.com/maps/place/Buenos+Aires+Metropolitan+Area"
        target="_blank"
        class="flex items-center gap-2 text-xs group"
      >
        <WorldIcon />
        <span class="group-hover:underline">{city}, {region}</span>
      </a>

      <footer class="flex gap-1 mt-3 print:hidden">
        {
          email && (
            <SocialButton
              href={`mailto:${email}`}
              title={`Enviar un email a ${name} al correo ${email}`}
            >
              <EmailIcon />
            </SocialButton>
          )
        }
        {
          phone && (
            <SocialButton
              href={`tel:${email}`}
              title={`Llamar por teléfono a ${name} al número ${email}`}
            >
              <PhoneIcon />
            </SocialButton>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <SocialButton
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
              >
                <Icon />
              </SocialButton>
            );
          })
        }
      </footer>
      
      <footer class="hidden print:flex flex-col gap-1 mt-1">
        <div class="flex items-center gap-2 text-xs">
          <EmailIcon className="size-3" />
          {email}
        </div>
        <div class="flex items-center gap-2 text-xs">
          <PhoneIcon className="size-3" />
          {phone}
        </div>
        {
          linkedinUser && (
            <div class="flex items-center gap-2 text-xs">
              <LinkedinIcon className="size-3" />
              /{linkedinUser}
            </div>
          )
        }
      </footer>
    </div>

    <figure>
      <img
        src={image}
        alt={name}
        class="aspect-square object-cover w-32 rounded-xl"
      />
    </figure>
  </div>
</Section>
