---
import EmailIcon from "@/icons/EmailIcon.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedinIcon from "@/icons/LinkedinIcon.astro";
import PhoneIcon from "@/icons/PhoneIcon.astro";
import Section from "@/components/Section.astro";
import WorldIcon from "@/icons/WorldIcon.astro";
import XIcon from "@/icons/XIcon.astro";
import SocialButton from "@/components/SocialButton.astro";

import { getCv } from "@cv";
import { getI18n } from "@/i18n";

const { currentLocale } = Astro;
const { basics } = getCv(currentLocale);
const i18n = getI18n(currentLocale);

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region, countryCode, map } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub: GithubIcon,
  Linkedin: LinkedinIcon,
  X: XIcon,
};

const linkedinUser = profiles.find((x) => x.network == "Linkedin")?.username;
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4">
    <div>
      <h1 class="text-2xl font-bold">{name}</h1>
      <p class="mb-2 mt-2">
        {label}
      </p>
      <a
        href={map}
        target="_blank"
        class="group inline-flex items-center gap-2 text-xs"
      >
        <WorldIcon />
        <span class="group-hover:underline">{city}, {region}, {countryCode}</span>
      </a>

      <footer class="mt-3 flex gap-1 print:hidden">
        {
          email && (
            <SocialButton
              href={`mailto:${email}`}
              title={`${i18n.SEND_MAIL_TO} ${name} ${i18n.AT_EMAIL} ${email}`}
            >
              <EmailIcon />
            </SocialButton>
          )
        }
        {
          phone && (
            <SocialButton
              href={`tel:${email}`}
              title={`${i18n.CALL_TO} ${name} ${i18n.AT_NUMBER} ${phone}`}
            >
              <PhoneIcon />
            </SocialButton>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <SocialButton
                href={url}
                title={`${i18n.VISIT_PROFILE} ${name} ${i18n.IN} ${network}`}
              >
                <Icon />
              </SocialButton>
            );
          })
        }
      </footer>

      <footer class="mt-1 hidden flex-col gap-1 print:flex">
        <div class="flex items-center gap-2 text-xs">
          <EmailIcon className="size-3" />
          {email}
        </div>
        <div class="flex items-center gap-2 text-xs">
          <PhoneIcon className="size-3" />
          {phone}
        </div>
        {
          linkedinUser && (
            <div class="flex items-center gap-2 text-xs">
              <LinkedinIcon className="size-3" />/{linkedinUser}
            </div>
          )
        }
      </footer>
    </div>

    <figure>
      <img
        src={image}
        alt={name}
        class="aspect-square w-28 max-w-none rounded-xl object-cover"
      />
    </figure>
  </div>
</Section>
