---
import Section from "@/components/Section.astro";
import { getI18n } from "@/i18n";
import { getCv } from "@cv";

const { currentLocale } = Astro;
const { projects } = getCv(currentLocale);

const i18n = getI18n(currentLocale);
---

<Section title={i18n.TITLE_PROJECTS}>
  <ul class="-mx-4 grid grid-cols-1 gap-3 sm:grid-cols-2">
    {
      projects.map(({ name, url, description, highlights }) => {
        return (
          <li class="rounded-lg border border-solid border-gray-200 p-4 dark:border-gray-800">
            <article class="flex h-full flex-col justify-between gap-2">
              <header>
                <h3 class="text-md font-semibold">
                  {url ? (
                    <a
                      href={url}
                      title={`${i18n.VISIT_WEBSITE} ${name}`}
                      class="group"
                      target="_blank"
                    >
                      <span class="group-hover:underline">{name}</span>
                      <span class="text-green-500">&bull;</span>
                    </a>
                  ) : (
                    <span>{name}</span>
                  )}
                </h3>
                <p class="flex-1 text-xs">{description}</p>
              </header>
              <footer class="mt-1 flex flex-wrap gap-1">
                {highlights.map((highlight) => (
                  <span class="rounded-md bg-gray-100 px-2 text-[0.7rem] font-semibold text-gray-950 transition-all hover:bg-gray-50 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-900">
                    {highlight}
                  </span>
                ))}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
